<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>40000 years ago</string>
		<string>They are archaic humans who lived in France and disappeared about 40000 years ago. What are they called?</string>
		<string>Neanderthal</string>
		<string>Homo erectus</string>
		<string>Cro-Magnons</string>
		<string>Homo sapiens</string>
		<string>Neanderthal</string>
		<string>There has never been any interbreeding between Neanderthal and Homo sapiens.</string>
		<string>False</string>
		<string>Neanderthals disappeared.</string>
	</array>
	<array>
		<string>800 BC</string>
		<string>They began to immigrate, in great numbers, into the region of modern France around 800 B.C. Who are they?</string>
		<string>The Celts</string>
		<string>The Goths</string>
		<string>The Huns</string>
		<string>The Vandals</string>
		<string>Celts</string>
		<string> By the 1st century AD, most Celtic territories had become part of the Roman Empire.</string>
		<string>True</string>
		<string>The Celts immigrate to France.</string>
	</array>
	<array>
		<string>390 BC</string>
		<string>From Gaul they invaded Rome in 390 BC winning the battle of Allia. Who are they?</string>
		<string>The Celts/Senones</string>
		<string>The Goths</string>
		<string>The Huns</string>
		<string>The Vandals</string>
		<string>Battle of Allia</string>
		<string>The Senones who invaded northern Italy and Rome were led by Brennus</string>
		<string>True</string>
		<string>The Celts invade Rome.</string>
	</array>
	<array>
		<string>51 BC</string>
		<string>He won the Gallic Wars  in 51 BC&quot; . What was their name</string>
		<string> Caesar</string>
		<string>Pompey</string>
		<string>Crassus</string>
		<string>Mark Antony</string>
		<string>Ceasar</string>
		<string>Caesar&apos;s son rose to sole power after defeating his opponents in the last civil war of the Roman Republic.</string>
		<string>False</string>
		<string>Caesar wins the Gallic War.</string>
	</array>
	<array>
		<string>52 BC</string>
		<string>What was the first name of the city of Paris, founded in 52 B.C?</string>
		<string>Lutetia</string>
		<string>Lugdunum</string>
		<string>Avignon</string>
		<string>Lyon</string>
		<string>Lutetia</string>
		<string>Lutetia was never conquered by the Romans</string>
		<string>False</string>
		<string>Foundation of Lutetia.</string>
	</array>
	<array>
		<string>466-511</string>
		<string>What was the name of the first king of the Franks to unite all the Frankish tribes?</string>
		<string>Clovis I</string>
		<string>Louis I</string>
		<string>Francois I</string>
		<string>Henri I</string>
		<string>Clovis I</string>
		<string>Clovis succeeded his father, Childeric I, as a king of Salian Franks in 481</string>
		<string>True</string>
		<string>Clovis I becomes king of the Franks.</string>
	</array>
	<array>
		<string>466-511</string>
		<string>To which dynasty did Clovis belong?</string>
		<string>Merovingian</string>
		<string>Carolingian</string>
		<string>House of Capet</string>
		<string>Robertian</string>
		<string>Merovingian</string>
		<string>The Merovingians&apos; long hair distinguished them among the Franks, who commonly cut their hair short.</string>
		<string>True</string>
		<string>Death of Clovis I.</string>
	</array>
	<array>
		<string>732</string>
		<string>In 732 he defeats the Muslims at Poitiers, stopping the Arab invasion. Who is he?</string>
		<string>Charles Martel</string>
		<string>Charlemagne</string>
		<string>Louis X</string>
		<string>Pepin</string>
		<string>Charles Martel</string>
		<string>Charles Martel belongs to the Merovingian dynasty.</string>
		<string>False</string>
		<string>Muslim invasion stopped at Poitier.</string>
	</array>
	<array>
		<string>800</string>
		<string>To which dynasty did Charlemagne belong?</string>
		<string>Carolingian</string>
		<string>Merovingian</string>
		<string>Robertian</string>
		<string>House of Valois</string>
		<string>Charlemagne</string>
		<string>He was the first recognized emperor to rule from western Europe since the fall of the Western Roman Empire.</string>
		<string>True</string>
		<string>Charlemagne new king of the Franks.</string>
	</array>
	<array>
		<string>800</string>
		<string>He united the majority of western and central Europe and he was crowned emperor of the Romans in 800. Who is he?</string>
		<string>Charlemagne</string>
		<string>Pepin</string>
		<string>Louis I</string>
		<string>Clovis I</string>
		<string>Charlemagne</string>
		<string>Charlemagne had no son to succeed him.</string>
		<string>False</string>
		<string>Charlemagne became emperor.</string>
	</array>
	<array>
		<string>843</string>
		<string>This treaty  signed in August 843 was the first stage in the dissolution of the empire of Charlemagne and foreshadowed the formation of the modern countries of western Europe. What is the name of this treaty?</string>
		<string>Treaty of Verdun</string>
		<string>Treaty of Paris</string>
		<string>Treaty of Caen</string>
		<string>Treaty of Bonn</string>
		<string>Treaty of Verdun</string>
		<string>The treaty, signed in Verdun-sur-Meuse, ended the three-year Carolingian Civil War. </string>
		<string>True</string>
		<string>Treaty of Verdun is signed.</string>
	</array>
	<array>
		<string>1309-1376</string>
		<string>From 1309 to 1376 seven successive popes resided in this French city.</string>
		<string>Avignon</string>
		<string>Rome</string>
		<string>Paris</string>
		<string>Lyon</string>
		<string>Avignon Papacy</string>
		<string>During this same period, a pope had also been appointed in Rome. So there were two popes.</string>
		<string>False</string>
		<string>The pope moves to Avignon.</string>
	</array>
	<array>
		<string>1337-1453</string>
		<string>Who won the Hundred Years&apos; War that lasted from 1337–1453?</string>
		<string>France</string>
		<string>England</string>
		<string>Spain</string>
		<string>Italy</string>
		<string>Hundred Years&apos; War</string>
		<string>There was no truce for the duration of the Hundred Years&apos; War.</string>
		<string>False</string>
		<string>End of the Hundred Years War.</string>
	</array>
	<array>
		<string>1494-1547</string>
		<string>This King of France was a  prodigious patron of the arts, he promoted the emergent French Renaissance by attracting many Italian artists to work for him, including Leonardo da Vinci. Who is he?</string>
		<string>Francis I</string>
		<string>Louis XIV</string>
		<string>Louis XV</string>
		<string>Henry iV</string>
		<string>Francis I of France</string>
		<string> Francis I formed a Franco-Ottoman alliance with the Muslim sultan Suleiman the Magnificent, a controversial move for a Christian king at the time.</string>
		<string>True</string>
		<string>Francis I crowned king of France.</string>
	</array>
	<array>
		<string>1533-1610</string>
		<string>Henri IV was the first king of what dynasty?</string>
		<string>Bourbons</string>
		<string>Merovingian</string>
		<string>Carolingian</string>
		<string>Valois</string>
		<string>Henri IV</string>
		<string>Henry IV never converted to Catholicism</string>
		<string>False</string>
		<string>Henri IV crowned king of France.</string>
	</array>
	<array>
		<string>1572</string>
		<string>These French Calvinist Protestants were the victims of the St. Bartholomew&apos;s Day massacre. What was their name?</string>
		<string>Huguenots</string>
		<string>Baptists</string>
		<string>Evangelicals</string>
		<string>Puritans</string>
		<string>St. Bartholomew&apos;s Day massacre</string>
		<string>Traditionally, the massacre is believed to have been instigated by Queen Catherine de&apos; Medici, the mother of King Charles IX.</string>
		<string>True</string>
		<string>St. Bartholomew&apos;s Day massacre.</string>
	</array>
	<array>
		<string>1638-1715</string>
		<string>He was known has the Sun King (Le roi Soleil). Who is he?</string>
		<string>Louis XIV</string>
		<string>Louis XV</string>
		<string>Francois I</string>
		<string>Henri IV</string>
		<string>Louis XIV</string>
		<string>Louis XIV promulgated the Edict of Nantes, granting the Huguenots, substantial rights.</string>
		<string>False</string>
		<string>Louis XIV moves to Versailles. </string>
	</array>
	<array>
		<string>1638-1715</string>
		<string>This French King built the Versailles Palace and moved the seat of his court there. Who is he?</string>
		<string>Louis XIV</string>
		<string>Louis XV</string>
		<string>Francois I</string>
		<string>Henri IV</string>
		<string>Louis XIV</string>
		<string>Louis XiV reign lasted 72 years, the longest recorded of any monarch of a sovereign country in history.</string>
		<string>True</string>
		<string>Death of Louis XIV.</string>
	</array>
	<array>
		<string>1755</string>
		<string>In which country was Queen Marie Antoinette born?</string>
		<string>Austria</string>
		<string>France</string>
		<string>Prussia</string>
		<string>Spain</string>
		<string>Marie Antoinette</string>
		<string>She became dauphine of France at age 14 upon her marriage.</string>
		<string>True</string>
		<string>Marie Antoinette married LouisXVI.</string>
	</array>
	<array>
		<string>1789</string>
		<string>The year the French Revolution started by the storming of the Bastille. What year is it?</string>
		<string>1789</string>
		<string>1790</string>
		<string>1800</string>
		<string>1780</string>
		<string>Storming of the Bastille</string>
		<string>The Bastille was a political prison seen by the revolutionaries as a symbol of the monarchy&apos;s abuse of power.</string>
		<string>True</string>
		<string>Storming of the Bastille.</string>
	</array>
	<array>
		<string>1793</string>
		<string>She was the queen of France and was guillotined during the French Revolution. Who is she?</string>
		<string>Marie Antoinette</string>
		<string>Catherine de&apos; Medici</string>
		<string>Mary Tudor</string>
		<string>Margaret of Valois</string>
		<string>Marie Antoinette</string>
		<string>Before the revolution Marie-Antoinette was liked by the population.</string>
		<string>False</string>
		<string>Marie Antoinette is guillotined.</string>
	</array>
	<array>
		<string>1794</string>
		<string>In 1794 he was overthrown, executed and  the Reign of Terror ended. Who is he?</string>
		<string>Robespierre</string>
		<string>Jean-Paul Marat</string>
		<string>Georges Danton</string>
		<string>Napoleaon</string>
		<string>Robespierre</string>
		<string>Robespierre is best known for his role as a member of the Committee of Public Safety as he signed 542 arrests.</string>
		<string>True</string>
		<string>Robespierre is guillotined</string>
	</array>
	<array>
		<string>1805</string>
		<string>On December 2, 1805, Napoleon won what is considered its greatest victory. What was the name of the battle?</string>
		<string>Austerlitz</string>
		<string>Marengo</string>
		<string>Ulm</string>
		<string>Waterloo</string>
		<string>The Battle of Austerlitz</string>
		<string>The Battle of Austerlitz is also known as the Battle of the Three Emperors.</string>
		<string>True</string>
		<string>The Battle of Austerlitz</string>
	</array>
	<array>
		<string>1812</string>
		<string>What was the most eastern city occupied by Napoleon in September 1812?</string>
		<string>Moscow</string>
		<string>Vienna</string>
		<string>Beijing</string>
		<string>Berlin</string>
		<string>French occupation of Moscow</string>
		<string>After invading Moscow, the French were able to resupply to continue the attack.</string>
		<string>False</string>
		<string>Napoleon invades Moscow</string>
	</array>
	<array>
		<string>1815</string>
		<string>On Sunday, 18 June 1815, Napoleon suffered is final defeat. What was the name of the battle?</string>
		<string>Waterloo</string>
		<string>Austerlitz</string>
		<string>Iena</string>
		<string>Marengo</string>
		<string>The Battle of Waterloo</string>
		<string>Waterloo was not Napoleon&apos;s last battle, other battles took place before his surrender.</string>
		<string>False</string>
		<string>The Battle of Waterloo</string>
	</array>
	<array>
		<string>1852</string>
		<string>In 1852 Napoleon III is crowned emperor. What was its relation with Napoleon I?</string>
		<string>His nephew</string>
		<string>His brother</string>
		<string>His son</string>
		<string>His grandson</string>
		<string>Napoleon III</string>
		<string>In 1870, after the defeat of the French army at the hands of the Prussians, Napoleon III was made prisoner.</string>
		<string>True</string>
		<string>Napoleon III crowned emperor</string>
	</array>
	<array>
		<string>1871-1914</string>
		<string>The period between 1871 and 1914 it was characterised by optimism, regional peace, economic prosperity, colonial expansion, and technological, scientific, and cultural innovations. What name is given to this period?</string>
		<string>La belle époque</string>
		<string>La vie est belle</string>
		<string>Les temps dorés</string>
		<string>Le bonheur</string>
		<string>La belle époque</string>
		<string>Despite the prosperity, &quot;La Belle Époque&quot; was a time when Europe experienced a decline in its global political power.</string>
		<string>False</string>
		<string>La belle époque</string>
	</array>
	<array>
		<string>1889</string>
		<string>What year was the Eiffel Tower inaugurated?</string>
		<string>1889</string>
		<string>1900</string>
		<string>1882</string>
		<string>1775</string>
		<string>Eiffel Tower</string>
		<string>The Eiffel Tower was initially criticized by some of France&apos;s leading artists and intellectuals for its design.</string>
		<string>True</string>
		<string>Inauguration of the Eiffel Tower</string>
	</array>
	<array>
		<string>1894</string>
		<string>In December 1894 a French artillery officer of Jewish descent was falsely convicted and sentenced to life imprisonment for communicating French military secrets to the German Embassy in Paris. What was his name?</string>
		<string>Dreyfus</string>
		<string>Zola</string>
		<string>Proust</string>
		<string>Picard</string>
		<string>Dreyfus affair</string>
		<string>Despite his exoneration, Dreyfus was never reinstated in the French army.</string>
		<string>False</string>
		<string>Dreyfus is condemned</string>
	</array>
	<array>
		<string>18 december 1916</string>
		<string>The French lost more than 400,000 men defending what city against the Germans in World War I?</string>
		<string>Verdun</string>
		<string>Marne</string>
		<string>Somme</string>
		<string>Gallipoli</string>
		<string>Battle of Verdun</string>
		<string>The battle lasted for 302 days, the longest and one of the most costly in human history.</string>
		<string>True</string>
		<string>Battle of Verdun</string>
	</array>
	<array>
		<string>1945</string>
		<string>Although he was considered a war hero after WW1 after WW2, he was convicted of treason. What is his name?</string>
		<string>Philippe Pétain</string>
		<string>Charles de Gaulle</string>
		<string>Gaston Billotte</string>
		<string>Marcel Deslaurens</string>
		<string>Philippe Pétain</string>
		<string>Pétain led the French Army to victory at the nine-month-long Battle of Verdun.</string>
		<string>True</string>
		<string>Pétain signs the armistice with Germany</string>
	</array>
</array>
</plist>
